@font-face {
  font-family: Avara;
  src: url("./assets/fonts/avara-bold.woff2");
  font-weight: bold;
}

:root {
  font-size: 6.25%;
}

@media screen and (max-width: 50em) {
  :root {
    font-size: 5%;
  }
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Avara;
  font-size: 20rem;
  color: $color1;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.navigation-background--light {
  @extend %navigation-background;
  background: $color0;
}

.navigation-background--dark {
  @extend %navigation-background;
  background: $color1;
  color: $color0;
}
